<%= form_with(model: color, local: true, url: colors_path) do |form| %>
  <% if color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hex, "Color:" %>
    <%= form.color_field :hex %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-sm btn-block btn-success col-sm-2' %>
  </div>
<% end %>
<br>
