<div class="col-md-8 col-4 mx-auto">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field"><br>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field"><br>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-info btn-block' %>
    </div>
  <% end %>

  <br><p style="text-align: center;"><strong>OR</strong></p>

  <%= link_to '<i class="fa fa fa-user-secret"></i> Continue as a Visitor'.html_safe, root_path, class: 'btn btn btn-outline-success btn-block' %>
</div>
