<!DOCTYPE html>
<html>
  <head>
    <title>ColorTheGrid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container container-main">
      <div class='container-fluid'>
        <% if notice %>
          <div id="success" class="row alert alert-success rounded">
            <center><%= notice %></center>
          </div>
        <% end %>
        <% if alert %>
          <div id="error" class="row alert alert-danger rounded">
            <center><%= alert %></center>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
